.container{
    width: calc(100vw - 250px);
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 830px){
    .container{
        flex-direction: column;
        width: 100vw;
    }
}